body {
	font-family: Helvetica;
	margin: 0;
}

#Logo {
	height: 150px;
	width: 150px; 	
	display: block;
}

h1 {
	font-weight: 500;
}

#container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	flex-direction: column;
}